body {
  background-color: lightgrey;
}

.cat-img {
  border-radius: 4px;
  display: block;
  height: auto;
  max-height: 300px;
  width: auto;
  max-width: 250px;
  margin: auto;
}

.cat-img-container {
  height: auto;
  width: 250px;
  overflow: hidden;
}

.cat-text {
  height: 100%;
  text-align: center;
}

.cat-text-container {
  height: 50px;
  width: 250px;
}

.feed-card {
  border: 1px solid grey;
  border-radius: 4px;
  float: left;
  margin: 10px;
}

.feed-content {
  width: 300px;
}
