body {
  background-color: lightgrey;
}

.cat-img {
  border-radius: 4px;
  display: block;
  height: auto;
  max-height: 400px;
  width: auto;
  max-width: 250px;
  margin: auto;
}

.cat-img-container {
  height: auto;
  width: 250px;
  overflow: hidden;
}

.cat-text {
  height: 70px;
  line-height: 1.1;
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  padding: 10px;
  text-justify: inter-word;
}

.cat-text-container {
  height: 100px;
  width: 250px;
}

.fave-heart {
  bottom: 0;
  position: relative;
  right: 0;
}

.feed-card {
  border: 1px solid grey;
  border-radius: 4px;
  float: left;
  margin: 10px;
}

.feed-content > a {
  color: black;
  text-decoration: none;
}

.feed-content > a:hover {
  color: grey;
  text-decoration: none;
}

.feed-content {
  width: 300px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
