<section ng-controller="CardCtrl" class="singleCardContainer row" ng-cloak>
  <a ng-href="#!/feed"><button class="card-title">Back to Feed</button></a>
  <button>Previous</button>
  <button>Next</button>
  <br />
  <section class="feed-card">
    <div>
      <div ng-repeat="cat in catObject">
        <div ng-if="cat.factID == catCardID">
          <img src="{{cat.url}}" class="cat-img"/>
        </div>
        <div class="cat-text-container" ng-if="cat.factID == catCardID">
          <p class="cat-text">{{cat.fact}}</p>
        </div>
      </div>
    </div>
  </section>
</section>
